@import url("https://fonts.googleapis.com/css?family=Montserrat:600,800&display=swap&subset=cyrillic-ext");
body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  color: #d0502d;
  font-size: 55px; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: none;
    color: white; }

header {
  min-height: 100vh;
  background: url("../img/backgrounds/home_screen_bg1.jpg") no-repeat left center/cover;
  color: white; }
  header .heading {
    padding: 28px 0; }
    header .heading .deveema-title {
      font-size: 24px;
      font-family: "Abril Fatface"; }
    header .heading .menu {
      list-style: none;
      padding: 7px 0 0 0;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .heading .menu > li {
        margin-right: 65px; }
        header .heading .menu > li:hover::after {
          -webkit-transform: translateY(11px) scale(1);
                  transform: translateY(11px) scale(1); }
        header .heading .menu > li::after {
          content: '';
          width: 100%;
          height: 1px;
          background-color: white;
          display: block;
          -webkit-transform: translateY(11px) scale(0);
                  transform: translateY(11px) scale(0);
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
      header .heading .menu .change-lang {
        cursor: pointer; }
    header .heading .overlay-titlte {
      display: none; }
  header .heading.sticky {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
            box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
    background-color: #ffffff; }
    header .heading.sticky .deveema-title {
      color: #7f0cda; }
    header .heading.sticky .menu > li:hover::after {
      -webkit-transform: translateY(29px) scale(1);
              transform: translateY(29px) scale(1); }
    header .heading.sticky .menu > li::after {
      -webkit-transform: translateY(29px) scale(0);
              transform: translateY(29px) scale(0);
      background-color: #d0502d; }
    header .heading.sticky .menu a {
      color: #6c6c6c; }
      header .heading.sticky .menu a.active {
        color: #7f0cda; }
    header .heading.sticky .menu .change-lang {
      color: #7f0cda; }
  header .deveema-name {
    font-size: 24px; }
  header .what-we-do-text {
    font-size: 20px;
    font-weight: 400;
    margin-top: 110px; }
  header .main-text {
    font-size: 45px;
    line-height: 50px;
    margin: 22px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 55px; }
  header .details-text {
    font-size: 16px;
    line-height: 25px; }
  header .get-started-btn {
    margin-top: 51px;
    background-color: #889afd;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.27);
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.27);
    border-radius: 3px;
    height: 60px;
    color: white;
    font-size: 18px;
    font-weight: 500; }
  header .open-mobile-menu-btn {
    display: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 17px;
    font-size: 23px; }
  header .social-links-vertical {
    padding-top: 322px;
    text-align: center;
    font-size: 20px; }
    header .social-links-vertical .fab {
      display: block;
      margin-top: 15px; }
    header .social-links-vertical img {
      margin: 15px 0 0 5px; }
  header .dropdown {
    position: relative; }
    header .dropdown-menu {
      display: none;
      position: absolute;
      top: 53px;
      left: -80px;
      padding: 5px; }
      header .dropdown-menu.active {
        display: block; }
      header .dropdown-menu li {
        padding: 10px 25px;
        background-color: white;
        width: 225px; }
        header .dropdown-menu li:hover {
          opacity: 0.8;
          border-left: 2px solid #5535b8; }
        header .dropdown-menu li a {
          color: black; }
  header .social-links-horizontal {
    display: none;
    position: absolute;
    bottom: 48px;
    width: 100%; }
    header .social-links-horizontal .fab, header .social-links-horizontal img {
      margin-right: 20px; }
  header .mouse {
    bottom: 23px;
    left: 50%;
    cursor: pointer;
    position: absolute;
    display: block;
    width: 20px;
    height: 30px;
    background-color: white;
    border: solid 1px #d0502d;
    border-radius: 8px; }
  header .scroll-down {
    display: block;
    width: 4px;
    height: 4px;
    margin: 15% auto auto;
    -webkit-animation: scroll-inner 1.5s;
    animation: scroll-inner 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 50%;
    background: #d0502d; }
@-webkit-keyframes scroll-inner {
  from {
    margin-top: 15%;
    opacity: 1; }
  to {
    margin-top: 75%;
    opacity: 0; } }
@keyframes scroll-inner {
  from {
    margin-top: 15%;
    opacity: 1; }
  to {
    margin-top: 75%;
    opacity: 0; } }
  header .scroll-down-text {
    color: #4a4a4a;
    position: absolute;
    top: 59%;
    right: 30px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  header .line {
    width: 52px;
    background-color: #979797;
    height: 1px;
    position: absolute;
    top: 76%;
    right: 63px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

#services {
  padding-top: 75px; }
  #services .fas {
    font-size: 70px;
    color: #d0502d; }
  #services .services-cards {
    margin-top: 50px;
    text-align: center; }
    #services .services-cards .cards-item {
      padding: 50px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      #services .services-cards .cards-item .hover-img {
        display: none; }
      #services .services-cards .cards-item .cards-text {
        margin-top: 23px;
        font-size: 17px; }

#gallery {
  padding-top: 70px; }
  #gallery h1 {
    margin-bottom: 40px; }
  #gallery .item {
    background-color: #f4997d; }
    #gallery .item .product-info {
      color: white;
      padding-top: 50px;
      padding-left: 20px; }
      #gallery .item .product-info h2 {
        font-size: 47px;
        font-weight: 600; }
      #gallery .item .product-info p {
        margin-top: 60px; }

#approach {
  background: url("../img/backgrounds/approach_bg1.jpg") no-repeat center top/cover;
  margin-top: 75px;
  padding-top: 40px; }
  #approach .approaches {
    position: relative;
    padding: 50px 0; }
    #approach .approaches .timeline-item {
      width: 100%;
      margin-bottom: 10px; }
      #approach .approaches .timeline-item:nth-child(even) .timeline-content {
        float: right; }
      #approach .approaches .timeline-item::after {
        content: '';
        display: block;
        clear: both; }
    #approach .approaches .timeline-content {
      position: relative;
      width: 45%;
      padding: 10px 30px;
      border-radius: 4px;
      background: #f5f5f5;
      -webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
              box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3); }
      #approach .approaches .timeline-content .approach-number {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        background-color: #d0502d;
        display: inline-block; }
      #approach .approaches .timeline-content .approach-title {
        color: #d0502d;
        font-size: 14px;
        font-weight: 700;
        margin-left: 5px;
        display: inline-block; }
      #approach .approaches .timeline-content p {
        color: #4a4a4a;
        font-size: 14px; }
    #approach .approaches a {
      background: #d0502d;
      color: #FFFFFF;
      padding: 8px 20px;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 10px;
      display: inline-block;
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
              box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6); }
      #approach .approaches a:hover, #approach .approaches a:active, #approach .approaches a:focus {
        background: #a64024;
        color: #FFFFFF;
        text-decoration: none; }
    #approach .approaches .timeline-card {
      padding: 0 !important; }
      #approach .approaches .timeline-card p {
        padding: 0 20px; }
      #approach .approaches .timeline-card a {
        margin-left: 20px; }

#statistics {
  padding-top: 75px; }
  #statistics .stats-column {
    text-align: center; }
    #statistics .stats-column:not(:first-child) {
      border-left: 1px solid #ededed; }
    #statistics .stats-column .number {
      color: #d0502d;
      font-size: 40px;
      font-weight: 500; }
    #statistics .stats-column .stats-name {
      font-size: 22px;
      font-weight: 300;
      color: #d0502d; }

#feedback {
  padding-top: 75px; }
  #feedback .owl-carousel {
    margin-top: 52px; }
  #feedback .carousel-container {
    width: 100%;
    margin-top: 50px; }
  #feedback .item {
    margin: 10px 16px 30px 0;
    padding: 22px 5px 35px 16px;
    cursor: -webkit-grab;
    cursor: grab;
    color: #f0f0f0;
    -webkit-box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
            box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff; }
  #feedback .Client-Name {
    color: #4a4a4a;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px; }
  #feedback .Client-Company {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px; }
  #feedback .Client-Feedback {
    margin-top: 10px;
    color: #9b9b9b;
    font-size: 16px; }
  #feedback .item img {
    width: 100%; }
  #feedback .owl-theme .owl-dots .owl-dot.active span, #feedback .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #d0502d; }
  #feedback .owl-dot:focus {
    outline: none; }

#leadership-team {
  margin-top: 75px; }
  #leadership-team .team-cards {
    background: url("../img/backgrounds/team_bg.png") no-repeat center top/cover;
    margin-top: 30px; }
  #leadership-team .teammate {
    margin: 130px 32px 90px 0;
    text-align: center;
    padding: 26px 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #d0502d), color-stop(30%, white));
    background: linear-gradient(top, #d0502d 30%, white 30%);
    min-width: 280px;
    -webkit-box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
            box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
    max-height: 290px; }
    #leadership-team .teammate img {
      width: 108px;
      margin: 0 auto;
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      border: 5px solid #ffffff;
      border-radius: 50%;
      z-index: 5; }
    #leadership-team .teammate .name {
      margin-top: 14px;
      color: #4a4a4a;
      font-weight: 900; }
    #leadership-team .teammate .position {
      color: #d0502d;
      font-weight: 500; }
    #leadership-team .teammate .fab {
      margin: 25px 25px 0 25px;
      color: #9b9b9b; }
  #leadership-team #team-top {
    margin-top: 80px; }

#findus {
  padding-top: 50px; }

#contact-us {
  padding-top: 76px;
  background: url("../img/backgrounds/contact_us_bg.png") no-repeat center bottom/cover;
  z-index: -5; }
  #contact-us form {
    background: url("../img/backgrounds/2-layers.jpg") no-repeat center top/cover;
    background-color: white;
    margin-top: 40px;
    -webkit-box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
            box-shadow: 5px 10px 30px rgba(41, 26, 204, 0.12);
    border-radius: 6px;
    min-width: 636px;
    padding: 60px 104px 20px; }
    #contact-us form input {
      min-height: 45px;
      margin-bottom: 30px;
      border-radius: 0; }
    #contact-us form textarea {
      min-height: 162px;
      max-height: 350px;
      border-radius: 0;
      resize: none; }
    #contact-us form .form-control {
      border: 2px solid #d0502d; }
      #contact-us form .form-control:focus {
        outline: none;
        -webkit-box-shadow: none !important;
                box-shadow: none !important; }
      #contact-us form .form-control::-webkit-input-placeholder {
        color: #3b3b3b;
        font-size: 16px; }
      #contact-us form .form-control:-ms-input-placeholder {
        color: #3b3b3b;
        font-size: 16px; }
      #contact-us form .form-control::-ms-input-placeholder {
        color: #3b3b3b;
        font-size: 16px; }
      #contact-us form .form-control::placeholder {
        color: #3b3b3b;
        font-size: 16px; }
    #contact-us form .attach-file {
      color: #d0502d;
      margin-top: 10px;
      margin-bottom: 23px; }
      #contact-us form .attach-file .fas {
        margin-right: 13px; }
    #contact-us form .send {
      padding: 15px 52px;
      -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.27);
              box-shadow: 0 2px 15px rgba(0, 0, 0, 0.27);
      border-radius: 3px;
      border: 1px solid #ffffff;
      background-color: #56d7a5;
      color: white;
      font-size: 18px; }
  #contact-us footer {
    padding: 45px 0 15px 0;
    color: white; }
    #contact-us footer h1 {
      color: white;
      font-size: 24px; }
    #contact-us footer h5 {
      font-size: 12px; }
    #contact-us footer .fab {
      color: white;
      margin-right: 40px; }
    #contact-us footer .fas {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 13px; }
    #contact-us footer img {
      width: 27px;
      margin-right: 40px; }

@media screen and (min-width: 576px) {
  #approach .approaches::before {
    content: '';
    background: #C5CAE9;
    width: 5px;
    height: 85%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  #approach .approaches .timeline-img {
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: 3px solid #ffffff;
    background-color: #d0502d;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 50px;
    margin-left: -9px; }
  #approach .owl-carousel {
    display: block;
    position: unset; } }
@media screen and (max-width: 1200px) {
  header .heading .menu > li {
    margin-right: 45px; }
  header .mouse, header .scroll-down-text, header .line {
    display: none; }

  #services .services-cards .cards-item {
    padding: 30px;
    padding-right: 0; }

  #leadership-team .teammate {
    min-width: 250px;
    margin-right: 8px;
    margin-left: 8px; } }
@media screen and (max-width: 992px) {
  header .heading .menu > li {
    margin-right: 22px; }

  #services .services-cards .cards-item {
    padding: 25px;
    padding-right: 5px; }
    #services .services-cards .cards-item .cards-text {
      font-size: 14px; }

  #leadership-team .teammate {
    min-width: 176px;
    margin-right: 8px;
    margin-left: 8px; } }
@media screen and (max-width: 768px) {
  header .heading .deveema-title {
    padding-top: 9px;
    z-index: 2;
    color: white;
    padding-left: 17px; }
  header .heading .menu {
    display: block; }
    header .heading .menu > li::after {
      height: 0; }
    header .heading .menu .change-lang {
      display: none; }
  header .heading .social-links-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header .heading .open-mobile-menu-btn {
    display: inline-block; }
  header .heading .overlay-titlte {
    display: block; }
    header .heading .overlay-titlte .close-mobile-menu-btn {
      cursor: pointer;
      font-size: 23px;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 17px;
      margin: 28px 0 0 0; }
  header .heading .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5535b8;
    overflow-y: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    header .heading .overlay-content {
      position: relative;
      top: 0;
      width: 100%;
      text-align: center;
      margin-top: 30px; }
    header .heading .overlay a {
      padding-bottom: 17px;
      text-decoration: none;
      font-size: 24px;
      display: block; }
  header .heading.sticky .menu a {
    color: white; }
    header .heading.sticky .menu a.active {
      color: white; }
  header .heading.sticky .overlay-titlte .deveema-title {
    color: white; }
  header .heading.sticky .open-mobile-menu-btn {
    color: #2611c9; }
  header .what-we-do-text {
    margin-top: 90px; }
  header .social-links-vertical {
    padding-top: 300px; }
    header .social-links-vertical img {
      margin: 15px 0 0 -5px; }

  #approach .approaches::before {
    left: auto;
    right: 50px; }
  #approach .approaches .timeline-img {
    left: auto;
    right: 44px; }
  #approach .approaches .timeline-content {
    max-width: 100%;
    width: auto;
    margin-right: 70px; }
  #approach .approaches .timeline-item:nth-child(even) .timeline-content {
    float: none; }

  #statistics .stats-column {
    margin-top: 50px; }
    #statistics .stats-column:nth-child(odd) {
      border-left: none; }

  #leadership-team .container {
    padding-right: 0; }
  #leadership-team .row {
    margin-left: 0; }
  #leadership-team .teammate {
    margin-top: 50px; }
  #leadership-team #team-top {
    margin-top: 50px; }

  #contact-us form {
    min-width: 520px; } }
@media screen and (max-width: 576px) {
  h1 {
    font-size: 30px; }

  header {
    padding-bottom: 10px; }
    header .what-we-do-text {
      margin-top: 40px; }
    header .social-links-vertical {
      display: none; }
    header .main-text, header .details-text {
      width: 100%; }

  #approach .approaches .timeline-content {
    margin-right: 5px; }
  #approach .owl-theme .owl-dots .owl-dot.active span, #approach .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1; }
  #approach .owl-theme .owl-dots .owl-dot span {
    background: white;
    opacity: 0.2; }

  #contact-us form {
    min-width: 90%;
    padding: 60px 34px 20px; }
  #contact-us footer .social-links {
    background: #633ed8;
    text-align: center;
    padding: 33px 0;
    margin-bottom: 19px; }
  #contact-us footer .fas {
    position: absolute;
    bottom: -68px;
    right: 20px; }
  #contact-us footer h5 {
    font-size: 10px; } }

/*# sourceMappingURL=styles.css.map */